nav {
    height: 65px;
    width: 100%;
    background-color: #CC8656;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
}

nav .links {
    align-content: space-between;
}

nav img{
    padding-left: 150px;
}

.links a{
    padding-right: 70px;
}
.links a:last-of-type {
    padding-right: 150px;
}
nav img {
    height: 55px;
}

body {
    margin: 0px;
}

.intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 150px;
}

.intro .text-block {
    min-width: 600px;
}

a {
    text-decoration: none;
    font-size: 2em;
    color: seashell;
}