:root {
    --left-main-interval: 150px;
    /* левое ухо для всего сайта */
    --right-main-interval: 150px;
    /* правое ухо для всего сайта */
    --logo-image-height: 50px;
    /* высота логотипа */
}

nav {
    height: 65px;
    background-color: #B66D48;
    /* flexbox  */
    display: flex;
    justify-content: space-between;
}

logo img {
    height: var(--logo-image-height);
    margin-right: 20px;
}

body,
nav {
    padding: 0px;
    margin: 0px;
    font-family: "montserrat";
}

logo {
    /* flexbox  */
    display: flex;
    align-items: center;
    /* --------  */
    margin-left: calc(var(--left-main-interval) - var(--logo-image-height) - 20px);
    font-size: 29px;
    color: whitesmoke;
}

content {
    display: grid;
    padding-left: var(--left-main-interval);
    padding-right: var(--right-main-interval);
}

#info {
    display: grid;
    margin-right: calc(var(--right-main-interval) * -1) !important; 
    grid-template-columns: auto 600px;
}

.menu {
    /* flexbox  */
    align-self: center;
    align-content: space-between;
    /* --------  */
    margin-right: var(--right-main-interval);
}

.menu a {
    padding-left: 50px;
    font-size: 24px;
    color: whitesmoke;
    text-decoration: none;
}

h1 {
    margin-top: 132px;
    font-size: 48px;
    font-weight: 500;
}

#extension-hedders-text {
    display: block;
    margin-top: 30px;
    margin-right: 90px;
    font-size: 36px;
    font-weight: 300;
    text-align: right;
}

#text p {
    font-size: 24px;
    font-weight: 300;
    margin-top: 90px;
    margin-right: 90px;
    line-height: 1.5;
    text-align: justify;
}

/* второй экран */

h2{
    font-size: 46px; 
    font-weight: 300;
}

#discroption-container {
    display: grid;
    grid-template-columns: auto calc(600px - var(--right-main-interval));
}

.row {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.row img {
    width: 60px;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: left;
}

.row h3 {
    grid-column: 2;
    font-size: 30px;
    font-weight: 450;
    align-self: center;
    margin: 0px;
}

.row p {
    margin-top: 0px;
    grid-column: 2;
    font-size: 20px;
    text-align: justify;
    margin-right: 90px;
}

/*#img-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;  
    grid-template-rows: 400px 1fr; 
}

#img-block img{
    width: 500px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1;
}*/

#img-block{
    background-image: url(../img/dog-page2.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
}